@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));
#theme-toggle {
  margin-top: 3px;
}
#black_cover_modal {
  height: 100%;
  top: 0;
  left: 0;
}
#main_container {
  height: 92vh;
}

.download {
  text-align: right;
  padding-right: 1.5rem;
  color: white;
}

#station_form {
  z-index: 4;
  display: none;
  margin: 15px auto;
  top: 10%;
  right: 30%;
  padding: 15px;
  border-radius: 0.3rem;
  width: 300px;
}

#form_container {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  justify-content: center;
  text-align: center;
  background-color: black;
  opacity: 0.8;
}
